/* usereftest.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background: rgb(179, 177, 177);
  overflow: hidden; /* Prevent scrolling */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100vh;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  text-align: center;
}

.timer-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 20px; /* Adds spacing between the buttons */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
